{% extends 'base.html' %}
{% block title %}
    LOGIN FORM
{% endblock %}

{% block body %}
<div class="alert alert-success" role="alert">
  Your action ended up being successful!
{% if password_reset_info %}

    <br>
    Check console for password reset link

{% endif %}
</div>
<div class="row justify-content-center">
    <div class="col-md-2">
        <a href="{% url 'authapp:registration' %}">Registration page</a>
    </div>
    <div class="col-md-2">
        <a href="{% url 'authapp:login' %}">Login page</a>
    </div>

</div>



{% endblock %}