{% extends 'base.html' %}
{% block title %}
    Adminapp view
{% endblock %}
{% block body %}

{% if not user.profile.email_verified %}
<div class="row">
    <div class="fixed-top alert alert-warning text-center" role="alert">необходимо подтвердить email</div>
</div>
{% endif %}
<div class="row mt-2">
    <div class="col-md-11 text-right"  style="top: 0;">
        {{ user }} <a class="ml-2" href="{% url 'authapp:logout' %}"> Logout</a>
    </div>
</div>
{% block admin_body %}
<div class="row mt-2 justify-content-center">
    <div class="col-md-7 text-center"  style="top: 0;">
        <h3>Token</h3>
        <input class="form-control" value="{{ token.key }}" disabled>
        <a href="{% url 'api:generate' %}"><button class="btn btn-primary mt-2">Generate</button></a>
    </div>
</div>




{% if user.is_staff %}
    {% include 'adminapp/includes/user_list.html' %}

    {% include 'adminapp/includes/api_log.html' %}

{% endif %}

{% endblock %}
{% endblock %}