<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<a href="{% url 'authapp:logout' %}">Logout</a>
{{ user }}
{{ user.profile.email_verified }}

<h2>Token: {{ token.key }}</h2>
<p><a href="{% url 'api:generate' %}">generate</a></p>


{% if user.is_staff %}
    {% for u in users %}
        <a href="{% url 'adminapp:user_update' u.pk %}">
            <p>{{ u }}</p>
        </a>
    {% endfor %}
    {% for log in api_requests_logs %}
        <p>{{ log }}</p>
    {% endfor %}

{% endif %}


{% if not user.profile.email_verified %}
<p>необходимо подтвердить email</p>
{% endif %}

</body>
</html>