{% extends 'adminapp/base.html' %}
{% block admin_body %}
<h3 class="mt-3">{{ owner }} -- Profile Info </h3>
<div class="row justify-content-left">
    <div class="col-sm col-md-auto">
        <form method="POST">
              {% csrf_token %}
    <!-- User form-->
            {% for field in u_form %}
            <div class="row">
                <div class="col-md-5">
                    {{ field.label_tag }}
                </div>
                <div class="col-md-5 pull-left">
                     {{ field }}
                </div>
            </div>
             {% if field.errors %}
            <div class="row">
                <div class="col-md-15 alert alert-danger py-1 small" role="alert">
                    {{ field.errors }}
                </div>
            </div>
            {% endif %}
            {% endfor %}
    <!-- Profile form -->
            {% for field in p_form %}
            <div class="row">
                <div class="col-md-5">
                    {{ field.label_tag }}
                </div>
                <div class="col-md-5 pull-left">
                     {{ field }}
                </div>
            </div>
             {% if field.errors %}
            <div class="row">
                <div class="col-md-15 alert alert-danger py-1 small" role="alert">
                    {{ field.errors }}
                </div>
            </div>
            {% endif %}

            {% endfor %}


            <button class="btn btn-outline-info" type="submit">Update</button>
            {% if not owner.is_superuser %}
                <a class="btn btn-outline-danger" href="{% url 'authapp:delete_user' owner.pk %}">Delete</a>
            {% endif %}
        </form>
    </div>
</div>

{% endblock %}
